body {
  padding-top: 20px;
}

.speech-wrapper.loading::before,
.speech-wrapper.sending::after,
.news-view.loading::after,
.conversations-view.loading::after,
.questions-view.loading::after {
  background-image: url("../gfx/ring.gif");
}

.navbar-top,
.chat-container,
.news-wrapper {
  top: 27px;
}

.secondary-menu {
  margin-top: 60px;
}

.hamburger-menu,
.settings-menu {
  top: 80px;
}

.settings-menu h5 {
  font-size: 18px;
}
