body {
  padding-top: 0;
}

.speech-wrapper.loading::before,
.speech-wrapper.sending::after,
.news-view.loading::after,
.conversations-view.loading::after,
.questions-view.loading::after {
  background-image: url("../gfx/ring.gif");
}

.navbar-top,
.chat-container,
.news-wrapper {
  top: 7px;
}

.secondary-menu {
  margin-top: 60px;
}

.hamburger-menu,
.settings-menu {
  top: 50px;
}

.settings-menu h5 {
  font-size: 18px;
}

.questions-view.show-list-header {
  margin-top: 60px; 
 }   
 
.questions-view.show-list-header .list-header {
  top: 75px; 
 }   
 
 