.message img {
  max-width: 200px !important;
}
.upload-image {
  display: none !important;
}
html, body {
  overflow: hidden;
}

.chat-container.chat-container-visible {
  display: block !important;
  width: 50% !important;
  right: 0;
}

.chat-header {
  display: none !important;
}

.news-wrapper {
  width: 50% !important;
}

.swiper-container {
  width: 50% !important;
  position: absolute !important;
}

.news-view,
.conversations-view,
.questions-view {
  max-height: calc(100vh - 116px) !important;
  overflow-y: auto !important;
}

.navbar-top {
  z-index: 5;
}

.bootbox.modal {
  z-index: 1050;
}
.bootbox.modal img {
  max-width: 100%;
}
.bootbox.modal .modal-lg {
  max-width: 1000px;
}


.chat-footer {
  z-index: 10;
  width: 50%;
  padding-right: 50px;
  padding-left: 0px;
}

.news-close-btn {
  display: none !important;
}

.top-btn-container {
  width: 100%;
}

.hamburger-menu-button {
  float: right;
}

.hamburger-menu-button {
  float: right;
}

.settings-icon {
  margin-left: 15px !important;
}

.chat-container.show-list-header .list-header {
  display: none;
}

.show-list-header .list-header .list-header-back-menu {
  background-color: #eee !important;
}

.item-row {
  margin-bottom: 0 !important;
  padding-top: 15px !important;
}
.item-row.active {
  background-color: #e6f2ff;
}

.questions-view.show-list-header {
  padding-top: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .list-header {
    left: 0px !important;
    width: 50% !important;
  }
}

.contract-view .view-content-container .contract-details-content {
  height: calc(100vh - 260px);
  overflow-y: auto;
  overflow-x: hidden;
}

.contract-view .view-content-container .contract-list-view {
  height: calc(100vh - 175px);
  overflow-y: auto;
  overflow-x: hidden;
}

.contract-view-details-container .contract-details-content {
  height: calc(100vh - 260px);
  overflow-y: auto;
  overflow-x: hidden;
}