npm-debug.log
/node_modules
/platforms
/plugins
.jsdtscope
.tern-project
.project
.settings
/nbproject
.sass-cache
/www/css/*.min.css
/www/css/*.min.css.*
/www/js
/www/index.html
/www/bower_components