<?xml version='1.0' encoding='utf-8'?>
<widget id="fi.metatavu.pakkasmarjaBerriesApp" version="2.0.14" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pakkasmarja</name>
    <description>Application to make communicating with berry farmers easier</description>
    <author email="info@metatavu.fi" href="https://metatavu.fi">Metatavu Oy</author>
    <content src="index.html" />
    <access origin="https://ssl.gstatic.com" />
    <access origin="https://auth.metatavu.io" />
    <access origin="https://www.onnistuu.fi" />
    <access origin="https://cdn.metatavu.io" />
    <access origin="https://www.gravatar.com" />
    <access origin="http://localhost:8000" />
    <access origin="https://pakkasmarja-berries.metatavu.io" />
    <access origin="https://pm.metatavu.io" />
    <access origin="https://pma.metatavu.io" />
    <allow-intent href="cdvphotolibrary://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="blob:http://*/*" />
    <allow-intent href="ws://*/*" />
    <allow-intent href="wss://*/*" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <config-file parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^6.4.0" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.4" />
    <plugin name="cordova-plugin-device" spec="^1.1.7" />
    <plugin name="cordova-plugin-compat" spec="^1.2.0" />
    <plugin name="cordova-plugin-camera" spec="^4.0.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
    <plugin name="cordova-plugin-file-opener2" spec="git+https://github.com/JuanjoPP/cordova-plugin-file-opener2.git" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-file" spec="^5.0.0" />
    <plugin name="com-sarriaroman-photoviewer" spec="^1.1.16" />
    <plugin name="cordova-plugin-photo-library" spec="^2.1.1">
        <variable name="PHOTO_LIBRARY_USAGE_DESCRIPTION" value="To choose photos" />
    </plugin>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-firebase" spec="^0.1.25" />
</widget>
