.form-group
  label(for='newPasswordInput') Uusi salasana
  input#newPasswordInput.form-control(type='password')
.form-group
  label(for='newPasswordInput2') Toista uusi salasana
  input#newPasswordInput2.form-control(type='password')


