.chat-message(data-id=id, data-created=created, data-modified=modified)
  div(class='bubble-' + role)
    .txt
      p.name
        =userName
      p.message
        !=contents
      p.message-time
        =created
    .bubble-arrow
      if role === 'manager' 
        i.fa.fa-caret-right.fa-x3(aria-hidden='true')
      else
        i.fa.fa-caret-left.fa-x3(aria-hidden='true')