li.media.item-row.chat-question-group-thread(data-id=id, class=read ? 'read' : 'unread')
  img.d-flex.mr-3(src=imageUrl)
  .media-body
    h5.mt-0.mb-1
      =title
    small
      =latestMessageFormatted