.chat-message(data-id=message.id, data-created=message.created, data-modified=message.modified)
  div(class='bubble-' + message.role)
    if canRemove 
      i.fa.fa-trash.remove-message-btn
    .txt
      p.name
        =message.userName
      p.message
        !=message.contents
      p.message-time
        =message.sent
    .bubble-arrow
      if message.role === 'manager' 
        i.fa.fa-caret-right.fa-x3(aria-hidden='true')
      else
        i.fa.fa-caret-left.fa-x3(aria-hidden='true')