.view-header-container
  h1.contract-view-header-text &nbsp;
  h1.contract-progress-indicator
    i.fa.fa-list-alt(data-phase='1')
    i.fa.fa-arrow-right
    i.fa.fa-pencil(data-phase='2')
    i.fa.fa-arrow-right
    i.fa.fa-check
.contract-view-details-content
  .contract-details-placeholder
   p.lead Aloita valitsemalla sopimus vasemmalla olevasta listasta
   h1
     i.fa.fa-chevron-circle-left