img.news-image(src="http://ylojarvenuutiset.fi/wp-content/uploads/2013/08/32-M%C3%A4kkyl%C3%A4-1.jpg" alt="..")
.news-text-content
  p.small.news.date
    =dateFormatted
  h2
    =title
  !=contents
  a.settings-btn.news-close-btn(href='#')
    img.arrow-back(src='gfx/suljenappi.png')