if image
  img.news-image(src=image alt="..")
.news-text-content
  p.small.news.date
    =dateFormatted
  h2
    =title
  .news-content-container
    !=contents
  a.news-close-btn(href='#')
    i.fa.fa-angle-left