img.news-image(src=""+image alt="..")
.news-text-content
  p.small.news.date
    =dateFormatted
  h2
    =title
  !=contents
  a.settings-btn.news-close-btn(href='#')
    img.arrow-back(src='gfx/suljenappi.png')