.row.contract-list-item(data-contract=JSON.stringify(contract))
  .col
    span
      =contract.itemGroup.name
  .col
    if contract.status == 'DRAFT'
      span Tarkasta Ehdotus
    else if contract.status == 'ON_HOLD'
      span Pakkasmarjan tarkistettavana
    else
      span Sopimus käsittelyssä
