.row.contract-list-item(data-contract=JSON.stringify(contract))
  .col
    span
      =contract.itemGroup.name
  .col
    if contract.itemGroup.status == 'DRAFT'
      span Tarkasta Ehdotus
    else
      span Sopimus käsittelyssä
