.form-group
  label(for='newBerryItemGroupSelect') Marja
  select#newBerryItemGroupSelect.form-control
    each itemGroup in itemGroups
      option(value=itemGroup.displayName || itemGroup.name)
        =itemGroup.displayName || itemGroup.name
    option(value="Muu") Muu
.form-group
  label(for='newBerryItemGroupSizeInput') M채채r채arvio
  input#newBerryItemGroupSizeInput.form-control(type='number')
.form-group
  label(for='newBerryAdditionalInfoInput') Lis채tiedot
  textarea#newBerryAdditionalInfoInput.form-control(rows='3')


