doctype html
html
  head
    meta(http-equiv='Content-Security-Policy', content="default-src " + generic.defaultSrc + "; style-src " + generic.styleSrc + "; media-src "  + generic.mediaSrc)
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
    meta(charset='UTF-8')
    // bower:css 
    // endbower 
    link(rel='stylesheet', href='css/pakkasmarja-berries.min.css')
    link(rel='stylesheet', href='css/overrides.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    script(src="cordova.js",type="text/javascript")
    // bower:js 
    // endbower
    script(src='https://auth.metatavu.io/auth/js/keycloak.js',type='text/javascript')
    script(src='js/config.js')
    script(src='js/pug-templates.js')
    // script(src='https://cdn.metatavu.io/libs/tools/debug/0.0.4/debug.js')
    script(src='js/pakkasmarja-berries-client.js')
    script(src='js/pakkasmarja-berries-auth.js')
    script(src='js/pakkasmarja-berries-news.js')
    script(src='js/pakkasmarja-berries-chat-threads.js')
    script(src='js/pakkasmarja-berries-chat-thread.js')
    script(src='js/pakkasmarja-berries-question-groups.js')
    script(src='js/pakkasmarja-berries-news.js')
    script(src='js/pakkasmarja-berries-push-notifications.js')
    script(src='js/pakkasmarja-berries-menu.js')
    script(src='js/pakkasmarja-berries-settings-menu.js')
    script(src='js/pakkasmarja-berries-device-controls.js')
    script(src='js/pakkasmarja-berries.js')
    title Pakkasmarja
  body
    .connecting-modal
      |Yhdistetään...
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.navbar-top
      .container-fluid.top-btn-container
        .row.no-gutters
          .col-2.flex-last
            a.btn.menu-btn.hamburger-menu-button(data-toggle='collapse', href='#')
              i.fa.fa-bars
          .col-8
            a.top-logo-container(href='#')
              img.top-logo(src='gfx/top_logo.png')
          .col-2.flex-first
            a.settings-btn
              img.settings-icon(src='gfx/settings.png')
    .row.no-gutters.secondary-menu
      .col-4.menu-item-container.news-item-container
        a.menu-item.active(href='#', data-slide-index='0', data-page="news") Ajankohtaista
      .col-4.menu-item-container.conversations-item-container
        a.menu-item(href='#', data-slide-index='1', data-page="conversations") Keskustelu
      .col-4.menu-item-container.questions-item-container
        a.menu-item(href='#', data-slide-index='2', data-page="questions") Kysymykset
    .swiper-container.swiper-horizontal
      .swiper-wrapper
        .swiper-slide
          .container-fluid.list-view.news-view
            ul.list-unstyled
        .swiper-slide
          .container-fluid.list-view.conversations-view
            ul.list-unstyled
        .swiper-slide
          .container-fluid.list-view.questions-view
            ul.list-unstyled
    .chat-container
      .chat-header
        .row.no-gutters.chat-back-menu
          a.chat-close-btn(href='#')
            img.arrow-back(src='gfx/punainen-nuoli_vasen.png')
          a.chat-close-btn(href='#')
            img.chat-logo(src='gfx/logo_punainen.png')
          h4.chat-name Pakkasmarja
      .chat-conversation-wrapper
        #myModal.modal
          .modal-content
            span.close-dialog ×

            h3 Valitse kuva...
            br
            button.btn.btn-primary.image-gallery Galleriasta
            br
            button.btn.btn-primary.image-camera Kamerasta
        .speech-wrapper
        .chat-footer
          a.upload-image(href='#')
            img(src='gfx/lisaa-kuva-icon.png')
          .form-group
            textarea.form-control.message-input(rows="1")
          i.fa.fa-paper-plane.message-send-btn(aria-hidden='true')
    .news-wrapper
    .hamburger-menu
      ul.list-unstyled
        li.profile-button
          i.fa.fa-user(aria-hidden='true')
          h3 Käyttäjätili
        li.logout-button
          i.fa.fa-sign-out(aria-hidden='true')
          h3 Kirjaudu ulos
    .settings-menu
      .container
        ul.list-unstyled
          li.management-button
            i.fa.fa-cogs(aria-hidden='true')
            h3 Hallinta
          li.notification-button
            .row
              .col
                i.fa.fa-bell(aria-hidden='true')
                h3 Ilmoitukset
            br
            .row
              .col-5
                h5 Uutiset
              .col-7
                select.form-control.select-setting(name="news-push-notification")
                  option(value="enabled")
                    |Päällä
                  option(value="disabled")
                    |Pois päältä
                  option(value="silent")
                    |Hiljainen
            br
            .row
              .col-5
                h5 Keskustelut
              .col-7
                select.form-control.select-setting(name="conversation-push-notifications")
                  option(value="enabled")
                    a(href='#') Päällä
                  option(value="disabled")
                    a(href='#') Pois päältä
                  option(value="silent")
                    a(href='#') Hiljainen
            br
            .row
              .col-5
                h5 Kysymykset
              .col-7
                select.form-control.select-setting(name="question-push-notifications")
                  option(value="enabled")
                    a(href='#') Päällä
                  option(value="disabled")
                    a(href='#') Pois päältä
                  option(value="silent")
                    a(href='#') Hiljainen
