doctype html
html
  head
    meta(http-equiv='Content-Security-Policy', content="default-src " + generic.defaultSrc + "; style-src " + generic.styleSrc + "; media-src "  + generic.mediaSrc)
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
    meta(charset='UTF-8')
    // bower:css 
    // endbower 
    link(rel='stylesheet', href='css/viljelija.min.css')
    link(rel='stylesheet', href='css/overrides.css')
    script(src="cordova.js",type="text/javascript")
    // bower:js 
    // endbower 
    script(src='https://auth.metatavu.io/auth/js/keycloak.js',type='text/javascript')
    script(src='js/config.js')
    title Viljelija
  body
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        i.fa.fa-bars
      a.navbar-brand(href='#')
        img(src='gfx/top_logo.png')
      #navbarContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link.query-selection(href='#') Back to query selection
          li.nav-item
            a.nav-link(href='#') Settings
    .container.chart-view
      .row.chart-row
        .chart-container
          canvas#chart
      .row.query-row
        p.query-thesis
      .row.chat-row
        .swiper-container
          .swiper-wrapper
    .container.query-view
      .row
        .query-container
          ul.available-queries.list-group