doctype html
html
  head
    meta(http-equiv='Content-Security-Policy', content="default-src " + generic.defaultSrc + "; style-src " + generic.styleSrc + "; media-src "  + generic.mediaSrc)
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
    meta(charset='UTF-8')
    // bower:css 
    // endbower 
    link(rel='stylesheet', href='css/pakkasmarja-berries.min.css')
    link(rel='stylesheet', href='css/overrides.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    script(src="cordova.js",type="text/javascript")
    // bower:js 
    // endbower 
    script(src='https://auth.metatavu.io/auth/js/keycloak.js',type='text/javascript')
    script(src='js/config.js')
    script(src='js/pug-templates.js')
    script(src='js/pakkasmarja-berries-client.js')
    script(src='js/pakkasmarja-berries-auth.js')
    script(src='js/pakkasmarja-berries-news.js')
    script(src='js/pakkasmarja-berries-chat.js')
    script(src='js/pakkasmarja-berries-news.js')
    script(src='js/pakkasmarja-berries.js')
    title Viljelija
  body
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.navbar-top
      .container-fluid
        .row.no-gutters
          .col-2.flex-last
            a.btn.menu-btn(data-toggle='collapse', href='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
              i.fa.fa-bars
          .col-8
            a.top-logo-container(href='#')
              img.top-logo(src='gfx/top_logo.png')
          .col-2.flex-first
            a.settings-btn
              img.settings-icon(src='gfx/settings.png')
    .row.no-gutters.secondary-menu
      .col-4.menu-item-container
        a.menu-item.active(href='#', data-slide-index='0') Ajankohtaista
      .col-4.menu-item-container
        a.menu-item(href='#', data-slide-index='1') Keskustelu
      .col-4.menu-item-container
        a.menu-item(href='#', data-slide-index='2') Kysymykset
    .swiper-container.swiper-horizontal
      .swiper-wrapper
        .swiper-slide
          .swiper-container.swiper-vertical
            .swiper-wrapper
              .swiper-slide.swiper-slide-inner
                .container-fluid.list-view.news-view
                  ul.list-unstyled
            .swiper-scrollbar
        .swiper-slide
          .swiper-container.swiper-vertical
            .swiper-wrapper
              .swiper-slide.swiper-slide-inner
                .container-fluid.list-view.conversations-view
                  ul.list-unstyled
                    li.media.item-row.chat-open-btn
                      img.d-flex.mr-3(src='gfx/placeholder.png', alt='Generic placeholder image')
                      .media-body(chat-id="3")
                        h5.mt-0.mb-1 Jääkiekkoilijat
                        small 10.02
                    li.media.item-row(id="discussion_id2")
                      img.d-flex.mr-3(src='gfx/placeholder.png', alt='Generic placeholder image')
                      .media-body
                        h5.mt-0.mb-1 Mansikanviljelijät
                        small 10.02
                    li.media.item-row(id="discussion_id3")
                      img.d-flex.mr-3(src='gfx/placeholder.png', alt='Generic placeholder image')
                      .media-body
                        h5.mt-0.mb-1 Mustikanviljelijät
                        small 10.02
            .swiper-scrollbar
        .swiper-slide
          .swiper-container.swiper-vertical
            .swiper-wrapper
              .swiper-slide.swiper-slide-inner
                .container-fluid.list-view.questions-view
                  ul.list-unstyled
                    li.media.item-row
                      img.d-flex.mr-3(src='gfx/placeholder.png', alt='Generic placeholder image')
                      .media-body
                        h5.mt-0.mb-1 Tuoremarjat
                        small 10.02
                    li.media.item-row
                      img.d-flex.mr-3(src='gfx/placeholder.png', alt='Generic placeholder image')
                      .media-body
                        h5.mt-0.mb-1 Mansikat
                        small 10.02
                    li.media.item-row
                      img.d-flex.mr-3(src='gfx/placeholder.png', alt='Generic placeholder image')
                      .media-body
                        h5.mt-0.mb-1 Mustikat
                        small 10.02
                    li.media.item-row
                      img.d-flex.mr-3(src='gfx/placeholder.png', alt='Generic placeholder image')
                      .media-body
                        h5.mt-0.mb-1 Puolukat
                        small 10.02
            .swiper-scrollbar
    .chat-container
      .chat-header
        .row.no-gutters.chat-back-menu
          a.settings-btn.chat-close-btn(href='#')
            img.arrow-back(src='gfx/punainen-nuoli_vasen.png')
          a(href='#')
            img.chat-logo(src='gfx/logo_punainen.png')
          h4.chat-name Pakkasmarja
      .chat-conversation-wrapper
        .speech-wrapper
          .bubble-admin
            .txt-admin
              p.admin Pakkasmarja
              p.message-admin Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id diam ac sapien eleifend molestie. Phasellus tristique sed sem vitae tempor.
            .admin-bubble-arrow
              i.fa.fa-caret-right.fa-x3(aria-hidden='true')
          .bubble
            .txt
              p.name Kyösti Kyntäjä
              p.message This is a great message. This is just some text to make sure that speech bubbles scales vertically. This is some other text.
            .bubble-arrow
              i.fa.fa-caret-left.fa-x3(aria-hidden='true')
          .bubble
            .txt
              p.name Veijo Viljeliä
              p.message Thats a very good point.
            .bubble-arrow
              i.fa.fa-caret-left.fa-x3(aria-hidden='true')
          .bubble-admin
            .txt-admin
              p.admin Pakkasmarja
              p.message-admin Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .admin-bubble-arrow
              i.fa.fa-caret-right.fa-x3(aria-hidden='true')
          .bubble
            .txt
              p.name Veijo Viljeliä
              p.message This is message.
            .bubble-arrow
              i.fa.fa-caret-left.fa-x3(aria-hidden='true')
          .bubble
            .txt
              p.name Veijo Viljeliä
              p.message And this.
            .bubble-arrow
              i.fa.fa-caret-left.fa-x3(aria-hidden='true')
        .chat-footer
          .row
            a.settings-btn.chat-close-btn(href='#')
              img.upload-image(src='gfx/lisaa-kuva-icon.png')
            .form-group
              input.form-control.message-input(type="text")
            i.fa.fa-paper-plane.message-send-btn(aria-hidden='true')
    .news-wrapper
      img.news-image(src="http://ylojarvenuutiset.fi/wp-content/uploads/2013/08/32-M%C3%A4kkyl%C3%A4-1.jpg" alt="..")
      .news-text-content
        p.small.news.date 22.05.2017 15:00
        h2 Uusi viljelijä liittyy Pakkasmarja-päivään
        p.big-text Pakkasmarjapäivät 29.9.2043 klo 10-14, Suonejoki
        p Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment. Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
        a.settings-btn.news-close-btn(href='#')
          img.arrow-back(src='gfx/suljenappi.png')