doctype html
html
  head
    meta(http-equiv='Content-Security-Policy', content="default-src " + generic.defaultSrc + "; style-src " + generic.styleSrc + "; media-src "  + generic.mediaSrc)
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
    meta(charset='UTF-8')
    // bower:css 
    // endbower 
    link(rel='stylesheet', href='css/pakkasmarja-berries.min.css')
    link(rel='stylesheet', href='css/overrides.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    script(src="cordova.js",type="text/javascript")
    // bower:js 
    // endbower 
    script(src='https://auth.metatavu.io/auth/js/keycloak.js',type='text/javascript')
    script(src='js/config.js')
    script(src='js/pug-templates.js')
    script(src='https://cdn.metatavu.io/libs/tools/debug/0.0.4/debug.js')
    script(src='js/pakkasmarja-berries-client.js')
    script(src='js/pakkasmarja-berries-auth.js')
    script(src='js/pakkasmarja-berries-news.js')
    script(src='js/pakkasmarja-berries-chat-threads.js')
    script(src='js/pakkasmarja-berries-chat-thread.js')
    script(src='js/pakkasmarja-berries-question-groups.js')
    script(src='js/pakkasmarja-berries-news.js')
    script(src='js/pakkasmarja-berries-push-notifications.js')
    script(src='js/pakkasmarja-berries.js')
    title Viljelija
  body
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.navbar-top
      .container-fluid
        .row.no-gutters
          .col-2.flex-last
            a.btn.menu-btn(data-toggle='collapse', href='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
              i.fa.fa-bars
          .col-8
            a.top-logo-container(href='#')
              img.top-logo(src='gfx/top_logo.png')
          .col-2.flex-first
            a.settings-btn
              img.settings-icon(src='gfx/settings.png')
    .row.no-gutters.secondary-menu
      .col-4.menu-item-container.news-item-container
        a.menu-item.active(href='#', data-slide-index='0', data-page="news") Ajankohtaista
      .col-4.menu-item-container.conversations-item-container
        a.menu-item(href='#', data-slide-index='1', data-page="conversations") Keskustelu
      .col-4.menu-item-container.questions-item-container
        a.menu-item(href='#', data-slide-index='2', data-page="questions") Kysymykset
    .swiper-container.swiper-horizontal
      .swiper-wrapper
        .swiper-slide
          .container-fluid.list-view.news-view
            ul.list-unstyled
        .swiper-slide
          .container-fluid.list-view.conversations-view
            ul.list-unstyled
        .swiper-slide
          .container-fluid.list-view.questions-view
            ul.list-unstyled
    .chat-container
      .chat-header
        .row.no-gutters.chat-back-menu
          a.chat-close-btn(href='#')
            img.arrow-back(src='gfx/punainen-nuoli_vasen.png')
          a.chat-close-btn(href='#')
            img.chat-logo(src='gfx/logo_punainen.png')
          h4.chat-name Pakkasmarja
      .chat-conversation-wrapper
        .speech-wrapper
        .chat-footer
          .row
            a.upload-image(href='#')
              img(src='gfx/lisaa-kuva-icon.png')
            .form-group
              input.form-control.message-input(type="text")
            i.fa.fa-paper-plane.message-send-btn(aria-hidden='true')
    .news-wrapper