html, body {
  position: relative;
  height: calc(100% - 55.5px);
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar {
  padding: 0;
  margin: 0;
  
  .container-fluid {
    padding: 0;
    margin: 0; 
  }
  
  &.bg-faded {
    background-color: #e01e36;
  }
  
  .navbar-toggler {
    color: #fff;
    border: none;
    
    &:hover {
      color: #fff;
    }
    
    &:focus {
      color: #fff;
    }
  }
  
  .menu-btn {
    color: #fff;
    font-size: 30px;
    
    &:focus {
      box-shadow: none;
    }
  }
  
  .top-logo {
    height: 35px;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
  }
  
  .settings-icon {
    height: 25px;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
  }
  
}

.secondary-menu {
  border-bottom: 3px solid #cccccc;
  
  .menu-item-container {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    
    .menu-item {
      color: #535353;
      text-decoration: none;
      
      &.active {
        color: #e01e36;
        font-weight: bold;
      }
    }
    
  }
}

.bootbox-body {
  .loader-container {
    display: none;
  }
}

.modal-header {
  .bootbox-close-button {
    margin-right: 15px;
  }
  
  h4.modal-title {
    font-size: 16px;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  
  .swiper-slide-inner {
    padding-top: 25px;
    height: auto;
    
    .list-view {
      padding: 0;
    }
    
    .item-row {
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #cccccc;
    }
    
    .conversations-view,.questions-view {
       .item-row {
         &:after {
          font-family: FontAwesome;
          content: "\f105";
          padding-top: 10px;
          color: #cccccc;
          font-size: 25px;
         }
       }
    }
    
  }
}